
@{
    ViewBag.Title = "Test";
}


<style>
    .my-class{
        background-color:blue;
    }


    .anya , h6{
        background-color:violet;
    }
    h5{
        color:red;
    }
</style>

<h1>H1</h1>
<h2>H1</h2>
<h3>H1</h3>
<h4>H1</h4>
<h5 class="my-class">H5</h5>
<h6>H1</h6>

<p>Paragraph</p>
<div class="anya">sdrkjdrkgj</div>
<section></section>

<hr />

<b>BOLD</b>

<span style="font-weight:600;">SPAN BOLD</span>